################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjetoSpaceNow/.vs/ProjetoSpaceNow/FileContentIndex
/ProjetoSpaceNow/.vs/ProjetoSpaceNow/v17
/ProjetoSpaceNow/.vs/ProjetoSpaceNow
/ProjetoSpaceNow/.vs/ProjectEvaluation

# Angular
/ProjetoSpaceNowAngular/node_modules
/ProjetoSpaceNowAngular/dist
/ProjetoSpaceNowAngular/.angular

# .NET
/ProjetoSpaceNow/ProjetoSpaceNow.Api/bin
/ProjetoSpaceNow/ProjetoSpaceNow.Api/obj
