################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ProjetoSpaceNow/.vs/ProjetoSpaceNow/FileContentIndex
/ProjetoSpaceNow/.vs/ProjetoSpaceNow/v17
/ProjetoSpaceNow/.vs/ProjetoSpaceNow
/ProjetoSpaceNow/.vs/ProjectEvaluation
