<div class="reserva-form-container">
  <div class="form-card">
    <!-- 🔹 CABEÇALHO COM GRADIENT -->
    <div class="box-classroom">
      <h2 class="titulo-secao">
        <span class="icon">📅</span>
        Nova Reserva
      </h2>
    </div>

    <!-- CONTEÚDO DO FORMULÁRIO -->
    <div class="form-content">
      <form #form="ngForm" novalidate>
        <div class="row col-md-12">
          <h6 class="col-md-12 tit-section-form">Sobre a reserva</h6>
        </div>

        <div class="row form-group col-md-12">
          <div class="form-group col-md-6">
            <label>Sala</label>
            <select
              class="form-control"
              [(ngModel)]="reserva.salaId"
              name="drpSala"
              id="drpSala"
              [ngClass]="applyCssErrorValidation(drpSala, form)"
              (change)="onSalaChange(form); updateCanSubmit(form)"
              #drpSala="ngModel"
              minlength="1"
              required
            >
              <option value="0">Selecione</option>
              <option [value]="item.nome" *ngFor="let item of salasDisponiveis">
                {{ item.nome }}
              </option>
            </select>
            <app-span-error-validation
              [showError]="fieldValidTouched(drpSala, form)"
              errorMessage="Selecione a sala"
            ></app-span-error-validation>
          </div>

          <div class="form-group col-md-6">
            <label>Tipo de reserva</label>
            <select
              class="form-control"
              [(ngModel)]="reserva.tipo"
              name="tipoReserva"
              #tipoReserva="ngModel"
              required
              (change)="updateCanSubmit(form)"
            >
              <option [ngValue]="null" disabled>Selecione o tipo</option>
              <option *ngFor="let tipo of tiposReserva" [ngValue]="tipo.value">
                {{ tipo.label }}
              </option>
            </select>

            <app-span-error-validation
              [showError]="fieldValidTouched(tipoReserva, form)"
              errorMessage="Selecione o tipo de reserva"
            ></app-span-error-validation>
          </div>
        </div>

        <div class="row form-group col-md-12">
          <div class="form-group col-md-3">
            <label>Participantes</label>
            <input
              class="form-control"
              type="number"
              placeholder=""
              [(ngModel)]="reserva.quantidadePessoas"
              name="txtParticipante"
              id="txtParticipante"
              #txtParticipante="ngModel"
              [ngClass]="applyCssErrorValidation(txtParticipante, form)"
              (blur)="
                checkCapacity(txtParticipante, form); updateCanSubmit(form)
              "
              required
              min="1"
            />

            <app-span-error-validation
              [showError]="
                fieldValidTouched(txtParticipante, form) ||
                txtParticipante.hasError('capacidadeExcedida')
              "
              errorMessage="A sala selecionada não comporta a quantidade de pessoas informada. Por favor, verifique a disponibilidade de outras salas."
            ></app-span-error-validation>
          </div>
        </div>

        <div class="row col-md-12">
          <h6 class="col-md-12 tit-section-form">Data e horário</h6>
        </div>

        <div class="row form-group col-md-12">
          <div class="form-group col-md-3">
            <label>Data Início</label>
            <input
              class="form-control"
              type="date"
              id="txtDataInicio"
              name="txtDataInicio"
              (blur)="checkDate(form); updateCanSubmit(form)"
              [(ngModel)]="reserva.dataInicio"
              [ngClass]="applyCssErrorValidation(txtDataInicio, form)"
              #txtDataInicio="ngModel"
              required
            />
            <app-span-error-validation
              *ngIf="!reservada"
              [showError]="fieldValidTouched(txtDataInicio, form)"
              errorMessage="Preencha o campo Data Início"
            ></app-span-error-validation>
            <app-span-error-validation
              [showError]="reservada"
              errorMessage="Sala já reservada para o horário."
            ></app-span-error-validation>
            <app-span-error-validation
              [showError]="bloqueada"
              errorMessage="Sala bloqueada para uso"
            ></app-span-error-validation>
          </div>

          <div class="form-group col-md-3">
            <label>Data Fim</label>
            <input
              class="form-control"
              type="date"
              id="txtDataFim"
              name="txtDataFim"
              (blur)="checkDate(form); updateCanSubmit(form)"
              [(ngModel)]="reserva.dataFim"
              [ngClass]="applyCssErrorValidation(txtDataFim, form)"
              #txtDataFim="ngModel"
              required
            />
            <app-span-error-validation
              *ngIf="!tempoMenor"
              [showError]="fieldValidTouched(txtDataFim, form)"
              errorMessage="Preencha o campo Data"
            ></app-span-error-validation>
            <app-span-error-validation
              [showError]="tempoMenor"
              errorMessage="A data final deve ser maior do que a data inicial"
            ></app-span-error-validation>
          </div>

          <div class="form-group col-md-3">
            <label>Hora Início</label>
            <input
              class="form-control"
              type="time"
              id="txtHoraInicio"
              name="txtHoraInicio"
              [(ngModel)]="reserva.horaInicio"
              min="07:00"
              max="22:59"
              [ngClass]="applyCssErrorValidation(txtHoraInicio, form)"
              (blur)="checkTime(txtHoraInicio, form); updateCanSubmit(form)"
              #txtHoraInicio="ngModel"
              required
            />
            <app-span-error-validation
              [showError]="fieldValidTouched(txtHoraInicio, form)"
              errorMessage="Preencha horário entre 07:00 e 23:00, com hora fim maior que hora início."
            >
            </app-span-error-validation>
          </div>

          <div class="form-group col-md-3">
            <label>Hora Fim</label>
            <input
              class="form-control"
              type="time"
              id="txtHoraFim"
              name="txtHoraFim"
              [(ngModel)]="reserva.horaFim"
              min="07:01"
              max="23:00"
              [ngClass]="applyCssErrorValidation(txtHoraFim, form)"
              (blur)="checkTime(txtHoraFim, form); updateCanSubmit(form)"
              #txtHoraFim="ngModel"
              required
            />
            <app-span-error-validation
              [showError]="fieldValidTouched(txtHoraFim, form)"
              errorMessage="Preencha horário entre 07:00 e 23:00, com hora fim maior que hora início."
            >
            </app-span-error-validation>
          </div>
        </div>

        <div class="row form-group col-md-12">
          <div class="offset-md-4 col-md-4">
            <input
              type="submit"
              class="form-control btn btn-space-now-success"
              [disabled]="form.invalid || !reserva.canSubmit || bloqueada"
              (click)="bookResource(form)"
              value="Solicitar reserva"
            />
          </div>
          <div
            class="lbl-info col-md-12"
            *ngIf="form.invalid || !reserva.canSubmit || bloqueada"
          >
            O botão será habilitado após o preenchimento do formulário
          </div>
        </div>

        <div class="break-line"></div>
      </form>
    </div>
  </div>
</div>

<div class="clear"></div>
